# This config replicates ../.env.example, then it changes values for production deployment

# However, `prod.env` is used by systemd service in production deployment
# Hence you can't use that "export VAR=VALUE" syntax
# Instead, use "VAR=VALUE" syntax