POPFILMS_ENVIRONMENT="production"

TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
TELEGRAM_ADMIN_CHAT_ID=-1321111111118

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

POSTGRES_HOST=db
POSTGRES_DB=popfilms

POSTGRES_USER=produser
POSTGRES_PASSWORD=prodpassword

APP_DB_USER=popfilms_user
APP_DB_PASSWORD=popfilms_password

POSTGRES_EXPORTER_USER=popfilms_exporter
POSTGRES_EXPORTER_PASSWORD=popfilms_exporter_pass

DB_POOL_MAX_OPEN=5
DB_POOL_MAX_IDLE=2
DB_POOL_CONN_MAX_LIFETIME=30m


REDIS_HOST=redis
MINIO_INTERNAL_HOST="minio:9000"
MINIO_EXTERNAL_HOST="https://popfilms.ru/minio"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="adminioadmin"

POPFILMS_SERVICE_HTTP_SERVESTRING="backend-http:8080"
POPFILMS_SERVICE_HTTP_METRICS_SERVESTRING="backend-http:8880"
POPFILMS_SERVICE_HTTP_SERVE_PREFIX="/api/v1"
POPFILMS_SERVICE_HTTP_JWT_SECRET="!GFf122sa!@SDDS1ee2!@#ASEWQ"
POPFILMS_SERVICE_HTTP_JWT_ACCESS_EXPIRATION="15m"
POPFILMS_SERVICE_HTTP_JWT_REFRESH_EXPIRATION="1440m"
POPFILMS_SERVICE_HTTP_NAME="Suzuki_plus_one"
POPFILMS_SERVICE_HTTP_FRONTEND_URL="http://217.16.18.125 https://217.16.18.125 http://popfilms.ru https://popfilms.ru"

POPFILMS_SERVICE_AUTH_SERVESTRING="backend-auth:8082"
POPFILMS_SERVICE_AUTH_METRICS_SERVESTRING="backend-auth:8882"

POPFILMS_SERVICE_SEARCH_SERVESTRING="backend-search:8083"
POPFILMS_SERVICE_SEARCH_METRICS_SERVESTRING="backend-search:8883"