# Popfilms
export SERVER_SERVE_STRING="localhost:8080"  # Golang server address
export SERVER_SERVE_PREFIX=""                # Golang server route prefix
export SERVER_JWT_SECRET="your_secret_key"   # ! Secret key for JWT
export SERVER_JWT_ACCESS_EXPIRATION="15m"    # Access token expiration time in minutes
export SERVER_JWT_REFRESH_EXPIRATION="1440m" # Refresh token expiration time in minutes (default: 1 day)
export SERVER_NAME="Suzuki_plus_one"         # Application name, sets to JWT issuer
export SERVER_FRONTEND_URL="*"               # ! Set as Access-Control-Allow-Origin
export POPFILMS_ENVIRONMENT="development"    # Environment: development | production

# Postgres
export POSTGRES_HOST=localhost   # ! Postgres host. Would be "db" in docker-compose prod env
export POSTGRES_USER=devuser     # ! Postgres user
export POSTGRES_PASSWORD=devpass # ! Postgres password
export POSTGRES_DB=popfilms      # ! Postgres database name

# Redis
export REDIS_HOST=localhost         # ! Redis host. Would be "redis" in docker-compose prod env

# Minio
export MINIO_HOST=localhost:9000      # ! Minio endpoint. Would be "s3" in docker-compose prod env
export MINIO_ROOT_USER=admin          # ! Minio root user
export MINIO_ROOT_PASSWORD=adminadmin # ! Minio root password
