services:
  db:
    image: postgres
    container_name: popfilms_db
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - app-network
  minio:
    image: minio/minio:latest
    container_name: popfilms_minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"   # S3 API
    networks:
      - app-network
  redis:
    image: redis:alpine
    container_name: popfilms_redis
    volumes:
      - redis_data:/data
    networks:
      - app-network
  backend:
    build: .
    container_name: popfilms_backend
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_started
      redis:
        condition: service_started
    networks:
      - app-network
volumes:
  db_data:
  minio_data:
  redis_data:


networks:
  app-network:
    driver: bridge