global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/prometheus-alerts.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'backend-http'
    static_configs:
      - targets: ['backend-http:8880']

  - job_name: 'backend-auth'
    static_configs:
      - targets: ['backend-auth:8882']

  - job_name: 'backend-search'
    static_configs:
      - targets: ['backend-search:8883']
