name: Docker publish

on:
  push:
    branches: [main, deploy]
  workflow_dispatch: # allow manual run from UI

env:
  IMAGE_NAME: ghcr.io/sorrtory/popfilms-backend

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build
        run: go build -v ./...

      - name: create test env
        run: cp .env.example .env

      - name: Test
        uses: robherley/go-test-action@v0

      - name: Lint
        uses: golangci/golangci-lint-action@v9

  build-and-push:
    runs-on: ubuntu-latest
    needs: prepare

    permissions:
      contents: read
      packages: write # needed to push to GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: sorrtory
          password: ${{ secrets.SORRTORY_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
